
{% block title %}Vote{% endblock %}

{% block body %}
    {{dump(form)}}
    {# {{dump(form.categories.vars.value)}} #}

    <p><a href="{{ path('teacher_index') }}">Teacher List</a></p>
    <p><a href="{{ path('category_index') }}">Category List</a></p>

    {{ form_start(form) }}
    {# render the task's only field: description #}
    {# {{ form_row(form.vars.data.id) }} #}

    <h3>Categories</h3>
    <ul class="">
        {% for cat in form.categories %}
            {{form_row(cat, {'label': 1})}}
        {% endfor %}
    </ul>
{{ form_end(form) }}
{% endblock %}
