{% extends 'base.html.twig' %}
{% block title %}Vote{% endblock %}

{% block body %}

    {{ form_start(form) }}

    <div class="row d-flex justify-content-center">
    {% for minivote in form.minivotes %}
        <div class="col-xs-4">
            {{ form_row(minivote, {'label': minivote.vars.value.category.name}) }}
        </div>
    {% endfor %}
    </div>
    <div class="d-flex justify-content-center">
        {{form_row(form.submit, {'label': 'Zagłosuj!'})}}
    </div>
    <div class="d-flex justify-content-center">
        {{form_errors(form)}}
    </div>
{{ form_end(form) }}
{% endblock %}
