
{% extends 'base.html.twig' %}
{% form_theme form 'themes/layout.html.twig' %}

{% block title %}Głosuj{% endblock %}

{% block body %}
	<section>
	    {% if voted is defined %}
            <div class="d-flex justify-content-center">
				<span class="d-block">
					<span class="form-error-icon badge badge-danger text-uppercase">Błąd</span> 
					<span class="form-error-message" style="color:black;">Można zagłosować tylko raz.</span>
				</span>
            </div>
        {% endif %}
		{{ form_start(form) }}
		{% for minivote in form.minivotes %}
				<div class="wrap">
					{{form_label(form, minivote.vars.value.category.name)}}
					{{ form_widget(minivote) }}
				</div>
		{% endfor %}

        <div class="d-flex justify-content-center">
            {{form_row(form.submit, {
                'label': 'ZAGŁOSUJ',
                'attr': {'class': 'submit', 'style': 'color: #3498db; border: 5px solid !important;'}
            })}}
        </div>
		{{ form_end(form) }}
	</section>
{% endblock %}