{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_horizontal_layout.html.twig' %}
{% block title %}Vote{% endblock %}

{% block body %}
    <div class="row d-flex justify-content-center m-3">
        <div class="w-75 alert alert-warning h2">
            <center>
                Witaj w głosowaniu na Adasie 2019!<br>
                W każdej kategorii wybierz, z ułożonej alfabetycznie według nazwisk listy,
                nauczyciela, który, Twoim zdaniem, najlepiej do niej pasuje.<br>
                Jeśli nie masz pomysłu, pozostaw opcję <strong>brak</strong>.<br>
                Głosy zatwierdź przyciskiem <strong>Zagłosuj!</strong> na dole strony.<br>
                Cieplutkie pozdrowionka od Szkolnej Rady Uczniowskiej.
            </center>
        </div>
    </div>
    {{ form_start(form) }}
    <div class="container h4">
        {% for minivote in form.minivotes %}
            <div class = "bg-light">
                <div class="row d-flex justify-content-center">
                    {{form_label(form, minivote.vars.value.category.name, {
                        'label_attr': {'class': 'col-sm-6 text-center'}
                    })}}
                </div>
                <div class="col">
                {{ form_widget(minivote, {
                    'attr': {'class': 'col-sm-5 p-1 m-4'}
                }) }}
                </div>
            </div>
        {% endfor %}
        <div class="d-flex justify-content-center">
            {{form_row(form.submit, {'label': 'Zagłosuj!'})}}
        </div>
        <div class="d-flex justify-content-center">
            {{form_errors(form)}}
        </div>
        {% if voted is defined %}
            <div class="d-flex justify-content-center">
                <span class="alert alert-danger d-block">
                    <span class="d-block">
                        <span class="form-error-icon badge badge-danger text-uppercase">Błąd</span> 
                        <span class="form-error-message">Można zagłosować tylko raz.</span>
                    </span>
                </span>
            </div>
        {% endif %}
    </div>
{{ form_end(form) }}
{% endblock %}
