{% extends 'base.html.twig' %}

{% block title %}Kategorie{% endblock %}

{% block body %}
    <h1>Kategorie</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nazwa</th>
                <th>akcje</th>
            </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td>{{ category.id }}</td>
                <td>{{ category.name }}</td>
                <td>
                    <a href="{{ path('category_show', {'id': category.id}) }}">pokaż</a>
                    <a href="{{ path('category_edit', {'id': category.id}) }}">edytuj</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('category_new') }}">Dodaj kategorię</a>
{% endblock %}
